/Data
/model_weight
/*.json
/practice.ipynb
/.gitignore
/base/__pycache__
/Streamlit/__pycache__
/train/wandb
/train/saved
/train/model
/train/Visualize.ipynb
/train/config_train.json
/train/**/__pycache__
/wandb